/build
.DS_Store
/nori
/warptest
/ext_build
CMakeCache.txt
CMakeSettings.json
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
.vscode
/out
*.sublime-workspace
*.sublime-project
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64
/scenes/pa3/ajax.obj
/scenes/pa3/ajax-simple.exr
/scenes/pa3/ajax-simple.png
/scenes/pa3/ajax-ao.exr
/scenes/pa3/bunny-simple.exr
/scenes/pa3/bunny-simple.png

/scenes/pa2/ajax.obj
/scenes/pa1/bunny.png
/scenes/pa1/bunny.exr